.blog {
  padding-top: 90px;
  .hero {
    min-height: calc(100vh - 90px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-right: 60px;
    .showcase {
      position: relative;
      img {
        max-height: 70vh;
      }
      .info {
        position: absolute;
        bottom: 30px;
        left: 15px;
        backdrop-filter: blur(10px) brightness(80%);
        color: white;
        max-width: 50%;
        padding: 15px 24px;
        span {
          font-size: 21px;
          font-weight: 800;
        }
        h3 {
          font-size: 21px;
          color: #0038ff;
          margin: 9px 0;
        }
        p {
          font-weight: normal;
        }
      }
    }
    .text {
      background-color: #f1f3f7;
      padding: 15vh 60px;
      font-size: 30px;
      span {
        color: #0038ff;
      }
      p {
        font-size: 21px;
        font-weight: 600;
      }
    }
  }
  .blog-articles {
    padding: 90px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .blog-article {
      display: flex;
      align-items: center;
      .text {
        padding: 15px;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        h3 {
          font-size: 30px;
          margin: 12px 0;
        }
        a {
          color: #0038ff;
          text-decoration: none;
          font-size: 21px;
          display: flex;
          align-items: center;
          .line {
            margin-left: 15px;
            height: 3px;
            width: 100px;
            background-color: #0038ff;
          }
        }
      }
      .img {
        img {
          max-height: 300px;
        }
      }
    }
  }
}
