.contact-page {
  section.hero {
    p {
      margin: 9px 0;
      font-size: 18px;
      font-weight: 800;
    }
    h1 {
      color: #0038ff;
      font-size: 45px;
    }
    span {
      margin-top: 30px;
      a {
        color: #0038ff;
      }
    }
  }
}
