.home {
  section.hero {
    overflow-x: hidden;
    padding: 0 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    min-height: 100vh;
    h1 {
      font-size: 60px;
      margin-top: 12px;
      margin-bottom: 15px;
      span {
        color: #0038ff;
      }
    }
    button:hover {
      cursor: pointer;
    }
    .paragraph {
      margin-bottom: 21px;
      font-size: 15px;
      color: #676767;
      line-height: 2;
      max-width: 70%;
    }
    a {
      text-decoration: none;
    }
    .secondary-btn {
      box-shadow: none;
      padding: 15px;
      font-size: 18px;
      color: #1f1f1f;
      font-weight: normal;
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      img {
        position: relative;
        left: 0;
        margin-left: 21px;
        height: 21px;
        transition: 300ms;
      }
    }
    .secondary-btn:hover img {
      left: 9px;
    }
    .primary-btn {
      font-size: 18px;
      background-color: #0038ff;
      color: white;
      padding: 15px 30px;
      border: none;
      border-radius: 6px;
    }
    .buttons {
      display: flex;
      align-items: center;
      .second-btn {
        margin-left: 21px;
      }
    }

    .img {
      z-index: 1;
      position: relative;
      display: flex;
      height: 100%;
      align-items: center;
      .main-img {
        position: relative;
        z-index: 2;
        width: 80%;
        margin: 0 auto;
        // max-height: 350px;
      }
      .vectors {
        position: absolute;
        height: 80%;
        // width: 100%;
        top: 10%;
        left: 5%;
        z-index: 1;
      }
    }
  }

  section.subhero {
    display: flex;
    align-items: center;
    padding: 90px 0;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    .arrows {
      box-sizing: border-box;
      padding: 0 60px;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 2;
      button {
        border: none;
        background-color: transparent;
        box-shadow: none;
      }
    }
    .comments {
      position: relative;
      display: flex;
      transition: 600ms;
      .comment {
        margin: 0;
        font-weight: 600;
        box-sizing: border-box;
        width: calc(100vw - 15px);
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          font-size: 15px;
          margin: 12px 0;
        }
        .stars {
          img {
            height: 30px;
            margin: 0 3px;
          }
        }
        p {
          font-size: 18px;
          font-style: italic;
          max-width: 60%;
          text-align: center;
          line-height: 1.6;
        }
      }
    }
  }

  section.services {
    // background-size: contain, contain;
    background-repeat: no-repeat, repeat;
    // background-position: center, unset;
    padding: 90px 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
    .item {
      max-width: 360px;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 21px 18px;
      background-color: #f9f9f9;
      border-radius: 12px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      h3 {
        align-self: flex-start;
      }
      p {
        align-self: flex-start;
      }
      .icon1 {
        height: 51px;
        align-self: flex-start;
      }
      .icon2 {
        height: 30px;
        margin: 30px 0;
      }
    }
  }

  section.portfolio {
    background-color: #001064;
    color: white;
    padding: 90px 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 42px;
    }
    .paragraph {
      font-size: 18px;
      max-width: 60%;
      line-height: 2;
      margin-bottom: 30px;
    }
    .btn-link {
      margin-top: 90px;
      button {
        font-size: 15px;
        font-weight: 800;
        color: #333333;
        background-color: white;
        border: none;
        padding: 18px 31px;
      }
      button:hover {
        cursor: pointer;
      }
    }
    .grid {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 42px;
      a {
        display: flex;
        align-items: center;
        img {
          max-width: 100%;
        }
      }
    }
  }

  section.optimization {
    padding: 90px 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 42px;
    }
    .paragraph {
      font-size: 18px;
      max-width: 60%;
      line-height: 2;
      margin-bottom: 30px;
    }
    .grid {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 30px;
      .item {
        background-color: #0038ff;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 18px 15px;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        img {
          height: 30px;
        }
      }
    }
    .btn-link {
      margin-top: 60px;
      button {
        background-color: #0038ff;
        color: white;
        font-size: 15px;
        font-weight: 800;
        border: none;
        padding: 18px 31px;
      }
      button:hover {
        cursor: pointer;
      }
    }
  }

  section.audit-report {
    padding: 90px 60px;
    display: flex;
    align-items: center;
    background-color: #00168b;
    color: white;
    .img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      img {
        width: 100%;
        max-height: 400px;
      }
    }
    .text {
      width: 50%;
    }
    h2 {
      font-size: 33px;
    }
    .mini-text {
      font-size: 18px;
      font-weight: normal;
    }
    .paragraph {
      font-weight: 800;
      margin-bottom: 30px;
      font-size: 18px;
      line-height: 2;
      max-width: 90%;
    }
    .link-btn {
      text-decoration: none;
      button {
        display: flex;
        align-items: center;
        background-color: #0038ff;
        color: white;
        font-size: 15px;
        font-weight: 800;
        border: none;
        padding: 18px 31px;
        img {
          margin-left: 21px;
        }
      }
      button:hover {
        cursor: pointer;
      }
    }
  }

  section.contact {
    padding: 90px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2 {
      color: #333333;
      font-size: 42px;
    }
    .paragraph {
      font-size: 18px;
      max-width: 60%;
      line-height: 1.3;
      margin-bottom: 30px;
      margin-top: 0;
    }
    form {
      width: 100%;
      max-width: 800px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 21px;
      textarea {
        grid-column: span 4;
      }
      input,
      select {
        grid-column: span 2;
        height: 45px;
      }
      option {
        font-size: 18px;
      }
      textarea,
      input,
      select {
        font-family: "Spartan MB";
        padding: 12px;
        font-size: 18px;
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 0;
      }
      .placeholderOption {
        display: none;
      }
      .send-btn {
        font-size: 18px;
        background-color: #0038ff;
        color: white;
        font-weight: 600;
        border: none;
        padding: 18px 31px;
        grid-column: 2 / 4;
      }
      .send-btn:hover {
        cursor: pointer;
      }
    }
  }
}
