@font-face {
  font-family: "Spartan MB";
  src: url("../fonts/SpartanMB-Regular.otf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Spartan MB";
  src: url("../fonts/SpartanMB-SemiBold.otf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Spartan MB";
  src: url("../fonts/SpartanMB-ExtraBold.otf") format("truetype");
  font-weight: 800;
}
body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Spartan MB";
  h1,
  h2,
  h3,
  a {
    font-weight: 800;
  }
  button {
    font-weight: 600;
  }
}
.grid {
  display: grid;
}
button {
  font-family: "Spartan MB";
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button:hover {
  cursor: pointer;
}
//animation on hover underline
header,
footer {
  a:after {
    content: "";
    width: 0px;
    height: 2px;
    display: block;
    background: rgb(0, 0, 0);
    transition: 300ms;
  }
  a:hover:after {
    width: 100%;
  }
}
header {
  a:last-child:after {
    display: none;
  }
  a:hover:after {
    background-color: #0038ff;
  }
}
footer {
  .item {
    align-items: flex-start;
  }
  a:after {
    height: 1px;
    background-color: white;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  .content {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1400px;
    flex-grow: 1;
    padding: 0 30px;
    .navigation {
      grid-column: span 2;
      flex-grow: 1;
      padding: 0 42px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .hoverNavigationElement {
        position: relative;
        a {
          display: flex;
          align-items: center;
          img {
            margin-left: 9px;
            height: 10px;
          }
        }

        a:after {
          display: none;
        }
      }
      .hoverDiscoverableBox {
        padding: 18px 15px;
        position: absolute;
        top: 100%;
        left: 0;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 6px;
        flex-direction: column;
        display: none;
        background-color: white;
        a {
          font-weight: 600;
          width: max-content;
          min-width: 100%;
          margin: 9px 0;
          font-size: 18px;
        }
        a:last-child {
          margin-bottom: 0;
        }
      }
      .hoverNavigationElement:hover .hoverDiscoverableBox {
        display: flex;
      }
      a {
        margin: 0 12px;
        font-size: 18px;
        text-decoration: none;
        transition: 300ms;
        color: #0f0f0f;
      }
      a:hover {
        color: #0038ff;
      }
      #get-in-touch-btn {
        background-color: #0038ff;
        color: white;
        padding: 15px 42px;
        border: none;
        border-radius: 6px;
      }
      #get-in-touch-btn:hover {
        cursor: pointer;
      }
    }
  }
}

footer {
  background-color: #020202;
  color: white;
  padding: 90px 60px;
  .grid {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    .item {
      display: flex;
      flex-direction: column;
    }
    .item.logo {
      img {
        height: 50px;
      }
    }
  }
  a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    margin: 6px 0;
  }
}
