.mobile {
  overflow-x: hidden;

  button {
    border: none;
  }

  header {
    .content {
      .mobile-menu {
        grid-column: 3/4;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .mobile-menu-hidden {
      padding: 39px 21px;
      box-sizing: border-box;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 100%;
      width: 100vw;
      height: 100vh;
      background-color: #0038ff;
      color: white;
      transition: 600ms;
      animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
      .flexy {
        display: flex;
        align-items: center;
      }
      a {
        margin: 9px 0;
        color: white;
        text-decoration: none;
        font-size: 18px;
      }
      a:after {
        background-color: white;
      }
      .get-in-touch-btn {
        background-color: white;
        box-shadow: none;
        color: #0038ff;
        border: none;
        font-size: 18px;
        padding: 12px 21px;
        border-radius: 6px;
      }
      .close-btn {
        align-self: flex-end;
        background-color: transparent;
        display: flex;
        justify-content: flex-end;
        border: none;
        box-shadow: none;
        img {
          height: 30px;
          width: 30px;
          transform: rotate(45deg);
        }
      }
      .hoverDiscoverableBox {
        padding-left: 21px;

        display: none;
      }
      .hoverDiscoverableBox.open {
        display: flex;
        flex-direction: column;
      }
      .plus-sign {
        z-index: 2;
        height: 21px;
        width: 21px;
        margin-left: 30px;
      }
    }
    .mobile-menu-hidden.open {
      left: 0;
    }
  }
  footer {
    padding: 42px 21px;
    .grid {
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  .home {
    .hero {
      text-align: center;
      padding-top: 90px;
      grid-template-columns: 1fr;
      .content {
        grid-template-columns: 1fr;
      }
      a {
        display: flex;
        justify-content: center;
      }
      .buttons {
        flex-direction: column;
        align-items: center;
        button.secondary-btn {
          margin-top: 15px;
        }
      }
      .paragraph {
        max-width: 100%;
      }
      .img {
        margin-top: 60px;
        .main-img {
          width: 100%;
          margin: 0;
        }
        .vectors {
          display: none;
        }
      }
    }
    .subhero {
      .arrows {
        padding: 0 12px;
      }
      .comments {
        .comment {
          width: 100vw;
        }
      }
    }
    .services {
      grid-template-columns: 1fr;
      background-position: center;
      background-size: 900%;
      padding: 42px 21px;
    }
    .portfolio {
      padding: 20px;
      .paragraph {
        max-width: 90%;
      }
      .grid {
        grid-template-columns: 1fr;
        .item {
          .imgs {
            max-height: 300px;
            .logo {
              img {
                height: 100px;
              }
            }
            img.main {
              max-width: 300px;
            }
          }
          .text {
            width: 300px;
          }
        }
      }
    }
    .optimization {
      .content {
        padding: 20px;
      }
      .paragraph {
        max-width: 90%;
      }
      .grid {
        grid-template-columns: 1fr;
      }
    }
    .audit-report {
      flex-direction: column;
      padding: 20px;
      .text {
        width: 100%;
        text-align: center;
      }
      p {
        max-width: 100%;
      }
      .img {
        margin: 60px 0;
        width: 90%;
        img {
          width: 100%;
        }
      }
    }
    .contact {
      padding: 20px;
      .paragraph {
        max-width: 90%;
      }
      form {
        grid-gap: 0;
        input,
        select,
        button,
        textarea {
          margin-top: 20px;
          width: 100%;
          grid-column: span 4;
        }
      }
    }
  }
  .about {
    .white-btn {
      border: none;
    }
    .who,
    .goal-driven {
      overflow-y: hidden;
      padding: 42px 21px;
      grid-template-columns: 1fr;
      .img {
        margin: 42px 24px;
      }
    }
    .motto {
      padding: 42px 21px;
      button {
        border: none;
      }
      h3 {
        max-width: 90%;
      }
    }
  }
  .services {
    .hero {
      .text {
        margin-bottom: 60px;
      }
      h1 {
        font-size: 30px;
      }
      button {
        border: none;
      }
    }
  }
  .work-together {
    padding: 90px 30px;
    button.btn-special {
      margin-top: 60px;
      font-size: 24px;
      color: white;
      background: linear-gradient(-90deg, #0038ff, #4b72ff);
      border: none;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }

  .services,
  .web-design,
  .seo,
  .e-commerce {
    .hero,
    .web-design-hero {
      .items {
        display: none;
      }
    }
    .sub-hero {
      grid-template-columns: 1fr;
      padding: 60px 30px;
    }
  }
  .web-design,
  .services {
    .sub-hero {
      margin-top: 0;
      padding-top: 0;
    }
  }
  .items {
    padding: 0 21px;
    position: relative;
    bottom: 100px;
    display: grid;
    grid-gap: 60px;
    grid-template-columns: 1fr;
    .item {
      margin-top: 60px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 12px;
      position: relative;
      background-color: #ffffff;
      color: black;
      padding: 21px 15px;
      display: flex;
      flex-direction: column;
      a {
        margin-top: 21px;
        align-self: center;
      }
      h3 {
        font-size: 24px;
      }
      p {
        margin-top: 0;
        color: #404040;
        line-height: 1.3;
      }
      .icon-container {
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        position: absolute;
        top: -30px;
        left: 15px;
        padding: 9px;
        border-radius: 6px;
        background-color: #0038ff;
        img {
          height: 36px;
        }
      }
    }
  }
  .sub-hero {
    margin-top: 0;
    grid-template-columns: 1fr;
    padding: 42px 21px;
    .img {
      margin: 42px 0;
      img {
        width: 100%;
      }
    }
  }
  .banner-one {
    background-image: none;
    padding: 21px;
    .text {
      padding: 0;
      p {
        max-width: 100%;
      }
    }
  }
  .all-services {
    padding: 42px 21px;
    .grid {
      grid-template-columns: 1fr;
    }
  }
  .navigate {
    flex-direction: column;
    padding: 42px 21px;
    div.buttons {
      justify-content: space-between;
      width: 100%;
      margin-top: 30px;
      a:last-child {
        margin: 0;
        .secondary-btn {
          margin: 0;
        }
      }
    }
  }
  .banner-two {
    padding: 42px 21px;
    height: unset;
    .text {
      padding: 0;
      p {
        max-width: 100%;
      }
    }
  }
  .web-design-services {
    padding: 42px 21px;
    .body {
      grid-template-columns: 1fr;
    }
    .items {
      bottom: -30px;
      grid-gap: 15px;
      .item {
        box-shadow: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        .icon-container {
          position: relative;
          top: 0;
          left: 0;
        }
      }
    }
  }
  .portfolio {
    .hero {
      grid-template-columns: 1fr;
      padding: 0;
      .showcase {
        width: 90%;
        margin: 0 auto;
        img {
          width: 100%;
        }
      }
    }
    .grid-portfolio {
      grid-template-columns: 1fr;
      .item {
        .imgs {
          max-height: 300px;
          .logo {
            img {
              height: 100px;
            }
          }
          img.main {
            max-width: 300px;
          }
        }
        .text {
          width: 300px;
        }
      }
    }
  }
  .contact-page {
    text-align: center;
    .hero {
      margin-top: 0;
      p,
      h1,
      span {
        max-width: 80%;
      }
    }
  }
  .seo {
    h1 {
      text-align: center;
    }
  }
  .blog {
    .hero {
      grid-template-columns: 1fr;
      padding: 0;
      .showcase {
        display: none;
        width: 90%;
        margin: 0 auto;
        img {
          width: 100%;
        }
      }
    }
    .blog-articles {
      padding: 42px 21px;
      grid-template-columns: 1fr;
      .blog-article {
        flex-direction: column;
      }
    }
  }
  section.contact {
    .success,
    .error {
      margin-top: 20px;
      grid-column: 1 / 6;
      padding: 18px;
      border: 1px solid transparent;
      // border-radius: 6px;
    }
    .success {
      border-color: green;
      background-color: rgba(0, 128, 0, 0.05);
    }
    .error {
      border-color: red;
      background-color: rgba(255, 0, 0, 0.05);
    }
    .loader {
      grid-column: 2 / 4;
      img {
        height: 90px;
      }
    }
  }
  .single-blog {
    h1.title {
      font-size: 33px;
    }
    img {
      max-width: 100%;
    }
    .main {
      padding: 90px 15px;
    }
    .share {
      display: flex;
      flex-direction: column;
      .items {
        grid-gap: 0;
        bottom: 0;
        .item {
          box-sizing: border-box;
          margin-left: 9px;
          width: 60px;
          height: 60px;
          margin-top: 21px;
        }
      }
    }
    .more {
      display: none;
    }
  }
}
