.portfolio,
.seo,
.web-design,
.e-commerce {
  .hero {
    min-height: calc(100vh - 90px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    .showcase {
      position: relative;
      img {
        width: 100%;
        max-width: 600px;
      }
      .info {
        position: absolute;
        bottom: 30px;
        left: 15px;
        backdrop-filter: blur(10px) brightness(80%);
        color: white;
        padding: 15px 24px;
        span {
          font-size: 21px;
          font-weight: 800;
        }
        h3 {
          font-size: 21px;
          color: #0038ff;
          margin: 9px 0;
        }
      }
    }
    .text {
      // background-color: #f1f3f7;
      padding: 15vh 60px;
      font-size: 30px;
      span {
        color: #0038ff;
      }
      p {
        font-size: 21px;
        font-weight: 600;
      }
    }
    .img {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  .grid-portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 42px;
    justify-items: center;
    align-items: start;
    .item {
      transition: 300ms;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      .imgs {
        overflow-y: hidden;
        max-height: 600px;
        padding: 0;
        position: relative;
        .logo {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 150px;
          }
        }
        .color {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          opacity: 0.5;
          transition: 300ms;
        }
        img.main {
          max-width: 600px;
        }
      }
      .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        width: 600px;
        margin: 0 auto;
        padding: 12px;
        box-sizing: border-box;
        color: #1f1f1f;
        span.label {
          text-decoration: none;
          color: #00168b;
          font-weight: 800;
          font-size: 15px;
        }
        h4:after {
          content: "";
          width: 0px;
          height: 2px;
          display: block;
          background: #1f1f1f;
          transition: 300ms;
        }

        h4 {
          font-size: 39px;
          margin: 15px 0;
          font-weight: normal;
        }
        p {
          font-weight: 600;
          margin: 0;
          margin-bottom: 12px;
        }
        span.link {
          color: blue;
          text-decoration: underline;
        }
      }
    }
    .item:hover {
      transform: translateY(-20px);
      .text {
        h4:after {
          width: 100%;
        }
      }
      .color {
        opacity: 0.8;
      }
    }
  }

  .work-together {
    padding: 90px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2 {
      font-size: 51px;
      color: #0038ff;
    }
    p {
      font-size: 18px;
      margin: 0;
      font-weight: 600;
    }
    button.btn-special {
      margin-top: 30px;
      background: linear-gradient(-45deg, #0038ff, #5d80ff);
      border: none;
      font-size: 36px;
      color: white;
      font-weight: 800;
      padding: 21px 42px;
      box-shadow: none;
      background-color: transparent;
      transition: 600ms;
    }
    button.btn-special:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1400px) {
  .portfolio {
    .grid-portfolio {
      .item {
        .imgs {
          max-height: 400px;
          .logo {
            img {
              height: 100px;
            }
          }
          img.main {
            max-width: 400px;
          }
        }
        .text {
          width: 400px;
        }
      }
    }
  }
}
